:root {
    --agreed-color: #264EB5;
    --background_color: #000;
}

#login h1 a, .login h1 a {
    background-image: url('https://media.agreed.no/agreed-t-n-white.png');
    height: 80px;
    width: 320px;
    background-size: contain;
    background-repeat: no-repeat;
}

body.login {
    background: var(--background_color);
}

.notice-info {
    border-left: 4px solid var(--agreed-color) !important;
}

.login #login {
    width: auto;
    padding: 30px 10px 0px 10px;
}

@media (min-width: 600px) {
    .login #login {
        width: 450px;
    }
}

#loginform, #lostpasswordform {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center;
}

#loginform p:first-of-type {
    width: 100%;
}

.user-pass-wrap {
    width: 100%;
}

#user_pass:focus, #user_login:focus {
    border-color: var(--agreed-color);
}

.dashicons{
    color: var(--agreed-color);
}

#loginform .submit, #lostpasswordform .submit {
    width: 100%;
}

#loginform .submit .button, #lostpasswordform .submit .button {
    width: 100%;
    margin-top: 1rem;
    background: var(--agreed-color);
    border-color: var(--agreed-color);
}

#loginform .submit .button:hover, #lostpasswordform .submit .button:hover {
    opacity: 0.9;
}

@media (min-width: 600px) {
    #nav, #backtoblog {
        width: 50% !important;
    }    
}

#nav {
    width: 100%;
    padding: 0px !important;
    order: 11;
    text-align: center;
}

#backtoblog {
    width: 100%;
    padding: 0px !important;
    order: 10;
    text-align: center;
}

#nav, #backtoblog {
    margin-top: 1rem !important;
}

#language-switcher {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    order: 12;
}

#language-switcher select:hover {
    color: var(--agreed-color);
}

#language-switcher input {
    border-color: var(--agreed-color);
    color: var(--agreed-color);
}